
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #EEEEEE;
}

h1 {
    font-size: 562.5%;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    color: #EEEEEE;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    color: #EEEEEE;
}
h3 {
    font-family: 'Montserrat', sans-serif;
    color: #EEEEEE;
}
.top-container {
    background-color: #ea9215;
    position: relative;
    padding-top: 100px;
    padding-bottom: 550px;
    margin: 0 auto 0 auto;
    
}
.middle-container {
    background-color: #3A4750;
    
}
.bottom-container {
    background-color: #ea9215;
    
}
.skill-row {
    width: 50%;
    margin: 50px auto 50px auto;
    line-height: 1.5;
}
.top-cloud {
    position: absolute;
    right: 30%;
    top: 10%;
}
.top-cloud2 {
    position: absolute;
    right: 65%;
    top: 25%;
}
.bottom-cloud {
    position: absolute;
    left: 30%;
    bottom: 40%;
    
}
.bottom-cloud2 {
    position: absolute;
    left: 65%;
    bottom: 30%;
}
.mountain {
    position: absolute;
    left: 35%;
    bottom: 0;
}
hr {
    width: 65%;
}
.map-image {
    float: left;
}
.videogame-image {
    float: left;
}